<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ block "title" . }}{{ end }}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ "favicon.ico" | relURL }}">
    {{ partial "css.html" . }}
  </head>
  <body class="page has-navbar-fixed-top">
    {{ partial "navbar.html" . }}

    <main class="main">
      {{ block "main" . }}
      {{ end }}
    </main>

    {{ partial "footer.html" . }}
    {{ partial "javascript.html" . }}
  </body>
</html>
